body {
  background-color: rgb(227, 234, 241);
}

.container {
  padding-top: 40px;
  /* padding-bottom: 3em; */
}
#full-entry {
  height: 100%;
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  }
#full-entry article{
  float: right;
}

#full-entry article .entry-content {
  line-height: 25px;
  text-align: justify;
  font-size: 1em;
  clear: both;
}
.align-text{
  text-align: center;
}
.alert {
  top: 0;
  left: 0;
  overflow: auto;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  z-index: 1;
}
.delete-container {
  width: 38%;
  text-align: center;
  margin: 200px auto;
  background-color: #fff;
  height: 200px;
  padding: 0 15px;
  box-shadow: 2px -1px 3px 2px rgba(255, 255, 255, 0.5);
}
.delete-message{
  padding-top: 80px;
}
.confirmBtn{
  background-color: green;
  color: whitesmoke;
  border: none;
  padding: 12px;
}
.cancelBtn {
  background-color: rgb(206, 41, 41);
  color: #fff;
  border: none;
  padding: 12px;
}

.button {
  color: rgb(255, 255, 255);
  background-color:#444;
  font-size: 18px;
  border: none;
  padding: 12px;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(20, 61, 102);
}
/* footer{
  padding: 3px;
  margin-top: 0;
  color: #ffffff;
  background-color: tomato;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
} */
