body{
    background: #f4f4f4;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 100%; 
}

/*CSS for the header*/
header{
    background-color: black;
    color: white;
    padding-top: 20px;
    min-height: 50px;
    border-bottom: tomato 3px solid;  
}
header a{
    color: white;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 18px;
}
  
header ul li{
    /* float: left; */
    padding: 0 20px 0 20px;
    display: inline;
}

header h1{
    font-family: 'pacifico';
    font-style: italic;
}

header #logo{
    float: left;
}
  
header #logo h1{
    margin: 0;
}

header nav{
    float:right;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

header .firstname, header .index a{
    color: tomato;
    font-weight: bold;
}
header a:hover{
    color: #000000;
    font-weight: bold;
}
ul{
    margin: 0;
    padding: 0;
    display: inline;
}

header  ul li {
    padding: 5px 8px 5px 8px;
    color: white;
    padding-right: 15px;
    margin-bottom: 15px;
}

header ul li:hover{
    background-color: white;
    /* color: black; */
    border:none;
  }

.my-container{
    width:85%;
    overflow: hidden;
    margin: auto;
}
#logo h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
footer{
    top: 4px;
    color: #ffffff;
    background-color: tomato;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
}
