body {
    width: 60%;
    margin: 10px auto;
}

#profile {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 65%;
}

#profile td,
#profile th {
    border: 1px solid rgb(3, 163, 150);;
    padding: 7px;
}

#profile tr:nth-child(even) {
    background-color: #E7E2E2;
}

#profile tr:hover {
    background-color: #EEE;
}

#profile th {
    background-color: rgb(3, 163, 150);
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.table {
    margin-top: 125px;
    margin-left: 45px;
    margin-right: 45px;
}
.switchBtn {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 3em;
  background: #bdb9a6;
  border-radius: 1em;
}
.switchInput {
    position: absolute;
    opacity: 0;
  }
  .onAndOffDiv {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
  }
  .switchInput:checked + .onAndOffDiv {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    /* background: #0b0b14; */
    background-color: rgb(3, 163, 150);
  }
footer{
    color: #ffffff;
    background-color: rgb(14, 187, 172);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    width:100%;
    position: fixed;
    left: 0;
  }