.signup-page{
    width: 380px;
    top: 56%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 10px;
    height: 492px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
}
h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 20px;
}

.signup-page p{
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.signup-page input{
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
.signup-page input[type="text"], input[type="password"], input[type="email"]{
    border: none;
    border-bottom: 1px solid white;
    height: 38px;
    background: transparent;
    font-size: 15px;
    color: white;
    outline: none;
}
.signupBtn {
    color: blue;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 18px;
    min-width: 80px;
    padding: 12px;
    min-height: 30px;
    border: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 35%;
}
.signupBtn:hover{
    background: rgb(194, 72, 72);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    position: relative;
    min-width: 80px;
    min-height: 30px;
}
::placeholder{
    color: black;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: black;
    /* background-color: tomato; */
}
/* form p a:hover{ 
    background-color: white;
    border-radius: 1px solid black;
} */